        <footer>
            <div class="menu-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="img-section">
                                <a class="footer-logo-link" href="#">
                                    <img class="img-fluid" src="img/footer_logo.png" alt="">
                                </a>
                                <p>© 2018 Altmetric. All rights reserved.</p>
                                <p> Aliquam commodo lorem a ligula vestibulum scelerisque. Quisque interdum blandit eros at fringilla. Curabitur dictum elit in mauris faucibus, quis interdum lorem consectetur. Maecenas sed ultrices neque.</p>
                                <div class="footer-logo-img-link">
                                    <img class="img-fluid" src="img/googlePlay.png" alt="">
                                    <img class="img-fluid" src="img/appStore.png" alt="">
                                </div>
                                <ul class="social-block">
                                    <li class="social-icon">
                                        <a href="https://www.facebook.com/">
                                            <img class="img-fluid" src="img/fb.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="social-icon">
                                        <a href="https://twitter.com/">
                                            <img class="img-fluid" src="img/twitter.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="social-icon">
                                        <a href="https://www.youtube.com/">
                                            <img class="img-fluid" src="img/yt.svg" alt="">
                                        </a>
                                    </li>
                                    <li class="social-icon">
                                        <a href="https://www.instagram.com/">
                                            <img class="img-fluid" src="img/inst.svg" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="footer-menu-block">
                                <h3 class="footer-menu-title">Discover Azerbaijan</h3>
                                <ul class="footer-menu-items list-unstyled">
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="footer-menu-block">
                                <h3 class="footer-menu-title">Azerbaijan</h3>
                                <ul class="footer-menu-items list-unstyled">
                                    <li><a href="#">Culture and art</a></li>
                                    <li><a href="#">History</a></li>
                                    <li><a href="#">National cuisine</a></li>
                                    <li><a href="#">Family recreation</a></li>
                                    <li><a href="#">Shopping</a></li>
                                    <li><a href="#">Night life</a></li>
                                    <li><a href="#">Tourism opportunities</a></li>
                                    <li><a href="#">Visa</a></li>
                                    <li><a href="#">Information board</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="footer-menu-block">
                                <h3 class="footer-menu-title">Services</h3>
                                <ul class="footer-menu-items list-unstyled">
                                    <li><a href="#">Hotels</a></li>
                                    <li><a href="#">Houses for rent</a></li>
                                    <li><a href="#">Restaurants</a></li>
                                    <li><a href="#">Entertainment</a></li>
                                    <li><a href="#">Tours</a></li>
                                    <li><a href="#">Events</a></li>
                                    <li><a href="#">Transport</a></li>
                                    <li><a href="#">Tourist catalog</a></li>
                                    <li><a href="#">Tour planner</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="footer-menu-block">
                                <h3 class="footer-menu-title">For companies</h3>
                                <ul class="footer-menu-items list-unstyled">
                                    <li><a class="login-link" href="#">Company login</a></li>
                                    <li><a href="#">Register</a></li>
                                    <li><a href="#">Partnership terms</a></li>
                                    <li><a href="#">Ads</a></li>
                                    <li><a href="#">Tours</a></li>
                                    <li><a href="#">Events</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md">
                            <div class="footer-contact-info">
                                <h4 class="footer-contact-title">Call us</h4>
                                <a class="contact-link" href="tel:"><i class="fa fa-phone contact-icon"></i>+994-12-545-5340</a>
                                <p class="contact-description">Working hours: 09:00 - 21:00</p>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="footer-contact-info">
                                <h4 class="footer-contact-title">Give feedback</h4>
                                <a class="contact-link" href="mailto:"><i class="fa fa-envelope contact-icon"></i>feedback@discoveraze.com</a>
                                <p class="contact-description">Help us to improve</p>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="footer-contact-info">
                                <h4 class="footer-contact-title">Share your story</h4>
                                <a class="contact-link" href="#"><i class="fa fa-instagram contact-icon"></i>#Altmetric</a>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="footer-contact-info">
                                <h4 class="footer-contact-title">Official partners</h4>
                                <a href="#">
                                    <img class="img-fluid" src="img/booking.com_logo.png" alt="">
                                    </a>
                                <a href="#">
                                    <img class="img-fluid" src="img/l.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-section">
                <div class="container">
                    <ul class="list-unstyled float-left">
                        <li class="list-inline-item"><a href="#">Terms of use</a></li>
                        <li class="list-inline-item"><a href="#">Cookies</a></li>
                        <li class="list-inline-item"><a href="#">Sitemap</a></li>
                    </ul>
                    <img class="img-fluid float-left" src="img/Nova-logo.png" alt="">
                </div>
            </div>
        </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
      
      <script src="js/all.min.js"></script>

      <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
      <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
