<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="libs/ion-slider/ion.rangeSlider.css">
    <link rel="stylesheet" href="libs/ion-slider/ion.rangeSlider.skinHTML5.css">
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main/main.min.css">
</head>
<body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
<header>
    <div class="header-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand d-flex" href="#">
                            <img class="img-fluid" src="img/logo-d.svg" alt="">
                        </a>
                        <div class="collapse navbar-collapse d-flex justify-content-end align-items-center" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <div class="menu d-flex justify-content-start align-items-center">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Azerbaijan</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Hotels</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Houses for rent</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_horiz</i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </li>
                                </div>
                                <div class="login-language d-flex">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle d-flex" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">monetization_on</i> Currency: AZN</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                            <a class="dropdown-item" href="#">Azn</a>
                                            <a class="dropdown-item" href="#">Usd</a>
                                            <a class="dropdown-item" href="#">Rubl</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link d-flex" href="#">
                                            <i class="material-icons">input</i> Sign in</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>