.title-section{
  margin-top: 30px;
    .title{
      font-size: 30px;
      font-weight: bold;
      font-family: $firaSansBold;
      color: #4c4c4c;
    }
    .filter{
      .form-row{
        justify-content: flex-end;
         .form-group{
           display: flex;
           align-items: flex-end;
           .form-control{
              font-size: 1.5rem !important;
              font-family: $firaSansRegular;
              &:not([size]):not([multiple]) {
               height: calc(3rem + 2px);
             }
              &:focus{
               box-shadow: none;
             }
           }
           .btn{
             padding: 0;
             background-color: #4e77af;
             color: #fff;
             border-radius:3px;
             transition: all 0.3s ease-in-out;
             &:hover{
               box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
               background: #5370AF;
             }
           }
         }
      }
    }
     .line{
    height: 0.1rem;
    width: 100%;
    background-color: #e6e6e6;
  }
}
.content-section{
  padding-bottom: 80px;
  .border-bottom{
    background-color: #e6e6e6;
    height: 1px;
    width: 100%;
    margin: 10px 0 25px 0;
  }
  .left-side{
    padding-top: 30px;
    margin-right: 10px;
    .left-title{
      color: #4c4c4c;
      font-size: 1.8rem;
      margin-bottom: 10px;
      font-family: $firaSansRegular;
    }
    .left-border{
      border-top: 1px solid #cccccc;
    }
    .left-padding-top{
        padding-top: 10px;
    }
    #map{
      width: 100%;
      height: 160px;
    }
    .input-group{
      width: 100%;
      margin:25px 0;
      position: relative;
      .input-group-prepend,.input-group-append{
        position: absolute;
        top: 5px;
        &:hover {
          text-decoration: none;
        }
        .input-group-text{
          color: #b2b2b2;
          background-color: transparent;
          border: 1px solid transparent;
          border-radius: 0;
        }
      }
      .input-group-prepend{
        z-index: 44;
        left: 0px;
      }
      .input-group-append{
        z-index: 33;
        right: 0px;
      }
      input[type='text']{
        font-size: 1.4rem;
        color: #b2b2b2;
        &.form-control{
          padding: 10px 35px;
          &::placeholder{
            color: #b2b2b2;
            font-size: 1.4rem;
          }
          &:focus{
            box-shadow: none;
          }
        }
      }

    }
    .delete{
      margin-bottom: 10px;
      ul{
        padding: 0 !important;
        list-style: none;
        li{
          line-height: 3rem;
            span{
              color: #4e77af;
              font-size: 1.4rem;
              font-family: $firaSansRegular;
            }
            a{
              float: right;
              font-size: 2rem;
              font-family: $firaSansRegular;
              color: #4e77af;
              max-height: 30px;
              padding-top: 3px;
              i{
                font-size: 21px;
              }
            }
          &:first-child{
            margin-bottom: 10px;
            span{
              font-size: 1.8rem;
              font-family: $firaSansRegular;
              color: #4c4c4c;
            }
            a{
              font-size: 1.2rem;
              font-family: $firaSansRegular;
              text-decoration: none;
            }
          }
        }
      }
    }
    .price{
      padding: 20px 0 0 0;
      input[type="text"]{
        margin-bottom: 20px;
      }
      p{
        margin-bottom: 0;
        font-family: $firaSansRegular;
      }
      .range-slider{
        .c1,.d1{
          padding: 7px 12px;
          max-width: 107px;
          margin-right: 10px;
          font-size: 1.4rem;
          font-family: $firaSansRegular;
          color: #4c4c4c;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
        .irs{
          .irs-line{
            height:4px;
            background-color: #cccccc;
            border: 0;
          }
          .irs-bar{
            height: 4px;
            background: #4e77af;
          }
          .irs-slider{
            top: 23px;
            width: 22px;
            height: 22px;
            border: 1px solid #4e77af;
            background: #fff;
            border-radius: 27px;
            cursor: pointer;
          }
          .irs-min{
            display: none;
          }
          .irs-max{
            display: none;
          }
          .irs-from{
            display: none;
          }
          .irs-to{
            display: none;
          }
          .irs-single{
            display: none;
          }
        }
      }
    }
    .distance{
      padding-bottom: 10px;
      label{
        color: #808080;
        font-size: 1.4rem;
        font-family: $firaSansRegular;
      }
      select{
        &.form-control {
          font-size: 1.4rem;
          font-family: $firaSansRegular;
          &:not([size]):not([multiple]) {
            height: calc(3.4rem + 2px);
          }
        }
        option{
          color: #808080;
        }
      }
    }
    .comment{
      form{
        padding: 10px 0;
        .form-check{
          position: relative;
          margin-bottom: 1rem;
           input[type="radio"]{
             display:none;
            &:checked{
              &+label{
                i{
                  color: #ff7800;
                }
                &::before{
                  font-family: "Material Icons";
                  content: "\e837";
                  position: absolute;
                  margin-left: -12px;
                  top: -4px;
                  left: 10px;
                  font-size: 1.6rem;
                  color: #4e77af;
                }
                &::after{
                  color: #fff;
                }
              }
            }
          }
          label{
            margin-left: 2px;
            i{
              color: #808080;
              font-size: 1.6rem;
            }
            &:before{
              font-family: "Material Icons";
              content: "\e836";
              position: absolute;
              margin-left: -12px;
              top: -4px;
              left: 10px;
              font-size: 1.6rem;
              color: #808080;
            }
          }
        }
      }
    }
    .style{
      form{
        padding: 10px 0;
        .form-check{
          position: relative;
          margin-bottom: 1rem;
          input[type="checkbox"]{
            display:none;
            &:checked{
              &+label{
                i{
                  color: #ff7800;
                }
                &::before{
                  font-family: "Material Icons";
                  content: "\e834";
                  color: #4e77af;
                }
                &::after{
                  color: #fff;
                }
              }
            }
          }
          label{
            margin-left: 2px;
            color: #808080;
            font-size: 1.4rem;
            font-family: $firaSansRegular;
            i{
              color: #808080;
              font-size: 1.6rem;
            }
            &:before{
              font-family: "Material Icons";
              content: "\e835";
              position: absolute;
              margin-left: -12px;
              top: -1px;
              left: 10px;
              font-size: 1.6rem;
              color: #808080;
            }
          }
        }
      }
    }
    .reklam{
      position: relative;
      img{
        margin-top: 15px;
        width: 100%;
        height: 260px;
        object-fit: cover;
      }
      .reklam-link{
        position: absolute;
        text-transform: uppercase;
        font-weight: bold;
        background-color: #fff;
        font-size: 1rem;
        font-family: $firaSansRegular;
        text-decoration: none;
        top: 15px;
        left: 0;
        padding: 5px 8px;
        color: #b3b3b3;
      }
    }
    }
  .sort{
    padding-top: 10px;
   ul{
     margin-left: -48px;
     li{
       display: inline-block;
       font-size: 1.4rem;
       font-family: $firaSansBold;
       margin-right: 25px;
       &:last-child{
         margin-right: 0;
       }
       a{
         color:#4d4d4d;
         text-decoration: none;
         font-family: $firaSansRegular;
          &:hover{
            color: #00f;
          }
       }
       .color-blue{
         color: blue;
       }
     }
   }
  }
  .hotel-info{
    margin-left: 5px;
    .hotel-img{
      padding-right: 10px;
      img{
        height: 180px;
        width: 270px;
        object-fit: cover;
        border-radius: 3px;
      }
    }
    .hotel-text{
      padding-left: 0px;
      h3{
        color: #4e77af;
        font-size: 2.2rem;
        font-family:$firaSansBold ;
      }
      span{
        color:#808080;
        font-size: 1.4rem;
        font-family: $firaSansRegular;
      }
      ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        margin-top: 3px;
        li{
          display: inline-block;
          i{
            color:#b2b2b2;
          }
        }
      }
      p{
        color:#ff7800;
        font-size: 2.4rem;
        font-family: $firaSansBold;
        sup{
          font-family: $aznb;
          font-size: 2.9rem;
          top: 0;
        }
      }
      a{
        font-family: $firaSansBold;
        display: inline-block;
        background-color: #ff7800;
        padding: 8px 10px;
        color: #fff;
        border-radius: 3px;
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        font-weight: bolder;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover{
          box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
          background: #ff983d;
        }
      }
    }
    .service-info{
      padding-top: 25px;
      ul{
        &.stars{
          list-style: none;
          li{
            display: inline-block;
            &:last-child{
              margin-left: 15px;
              color: #808080;
              font-size: 1.1rem;
              font-family: $firaSansRegular;
            }
            i{
              color: #b2b2b2;
            }
          }
        }
      }
      ul{
        &.services{
          list-style: none;
          li{
            font-family: $firaSansRegular;
            font-size: 1.2rem;
            display: flex;
            align-items: center;
            line-height: 1.5rem;
            margin-bottom: 4px;
            i{
              font-size: 2.1rem;
              color: #4e77af;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
   nav{
     margin-right: -22px;
    ul{
      &.pagination{
        .page-item{
          .page-link{
            color:#4e77af !important;
            font-size: 1.4rem !important;
            border: none;
            font-weight: bolder;
            background-color: transparent;
            display: flex;
            align-items: center;
            i{
              font-size: 1.4rem;
              font-weight: bolder;
            }
          }
          &.disabled,&:last-child{
            i{
              font-size: 2rem;
            }
          }
          &.disabled{
            i{
              color: #dbdbdb;
            }
          }
        }
      }
    }
  }
}